@media (max-width: 992px) {
  .logo-head ul li {
    display: none;
  }
  .logo-head .toggal-menu {
    visibility: visible;
  }
  .banner-contant-img {
    flex-direction: column;
  }
  .banner-contant-img .bg-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .banner-contant-img .bg-img img {
    width: 80%;
  }
  .banner-contant-img .bg-contant {
    width: 100%;
  }
  .banner-contant-img .bg-contant .banner-text {
    font-size: 48px;
  }
  .detail-contant {
    flex-direction: column;
  }
  .de-img-contant {
    width: 90%;
    padding: 20px;
  }
  .de-img {
    width: 50%;
  }
  .section-add-card .add-to-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .all-clint-box {
    flex-direction: column;
  }
  .clint-box-show {
    width: 99%;
  }
  .clint-box-contant {
    width: 90%;
  }
  .sliedr-five-box {
    flex-direction: column;
    padding: 20px 25px;
  }
  .slider-box {
    width: 100%;
    margin: 8px 0px;
  }
}
@media (min-width: 800px) {
  .all-clint-box .clint-box-show > :nth-child(2) {
    transform: translatey(-18%);
  }
}
@media (max-width: 768px) {
  .banner-contant-img .bg-contant .banner-text {
    font-size: 42px;
  }
  .section-add-card .add-to-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .effect-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .clint-box-show {
    width: 99%;
    flex-direction: column;
  }
  .row-box {
    width: 100%;
  }
  .box-big {
    flex-direction: column;
  }
  .big-headphone-img img {
    width: 100%;
  }
  .big-img-contant {
    padding: 50px 2px;
    width: 100%;
  }
  .grid-box-all {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .grid-box-1 {
    grid-row: 1/1;
  }
  .grid-box-3 {
    grid-row: 1/1;
    grid-column-start: 1;
  }
  .gird-img img {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .section-add-card .add-to-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .effect-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-box-all {
    display: inline-block;
  }
  .grid-box{
    margin: 10px;
  }
}
