* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", serif;
}

::selection {
  background-color: #025048;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

a,
ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  display: inline-block;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 36px;
}
/* header strat */
header {
  background-color: rgba(128, 0, 128, 0.904);
  max-width: 100%;
  height: 100px;
  padding: 15px 0px;
}

.logo-head {
  width: 100%;
  height: 70px;
  background-color: #ffffff48;
  border-radius: 50px;
  transition: background-color 1s;
}

header:hover .logo-head {
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 255, 255, 0.3)
  );
}

.logo-head .header-img {
  padding: 10px;
}

.logo-head ul li a {
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  display: flex;
}

.logo-head ul li a:hover {
  background-color: rgba(245, 245, 245, 0.226);
}

.logo-head .toggal-menu a {
  color: white;
}
.icone-menu {
  max-width: 100%;
  width: 200px;
}
/* header end */
/* banner start */
.banner-section {
  background-color: rgba(128, 0, 128, 0.75);
}
.banner-contant-img .bg-img {
  background-image: url(/img/mask-image-luminance-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.banner-contant-img .bg-contant {
  flex-direction: column;
}
.banner-contant-img .bg-contant .banner-text {
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
}
.banner-contant-img .bg-contant .banner-pera {
  color: #000;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
  line-height: 2;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 3px 1px black;
}
/* banner end */
/* section-2 start */
.section-2 {
  padding: 70px 0px;
}
.section-2-text {
  color: white;
  background-color: purple;
  display: inline-block;
  padding: 20px 30px;
  margin: 20px 0px;
  border-radius: 20px;
}

.section-2 .section-2-pera {
  margin: 10px 0px;
  line-height: 2;
  box-shadow: 1px 1px 1px 1px purple;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
}
.btn-primary {
  margin: 20px 0px;
  border: 1px solid transparent;
  line-height: 2;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  background-color: purple;
}
.btn-primary:hover {
  background-color: white;
  border: 1px solid purple;
}
.btn-primary a {
  color: white;
  padding: 20px 10px;
  transition: all 0.5s ease-in-out;
}
.btn-primary:hover a {
  color: black;
  padding: 20px 10px;
}
.section-2 .de-img {
  position: relative;
}
.section-2 .de-img img {
  transition: all 0.5s ease-in-out;
}
.head-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.head-2 img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.section-2 .de-img:hover .head-2 img {
  opacity: 1;
}
/* section-2 end */
/* add to card start */
.section-add-card {
  padding: 80px 0px;
}
.section-add-card .add-to-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px 50px;
}
.card {
  margin: 20px 0px;
  border-radius: 20px;
  padding: 12px;
}
.add-card-contant {
  border-radius: 0px 0px 18px 18px;
  background-color: rgb(128 0 128 / 74%);
}
.card-name {
  padding: 10px 18px;
  color: white;
}
.price-h4 {
  padding: 10px 18px;
  color: black;
  font-size: 18px;
}
.price-span {
  padding: 10px 12px;
  color: white;
  font-size: 18px;
}
.all-star {
  color: goldenrod;
  padding: 0px 12px;
}
.all-star .star {
  padding: 0px 3px;
}
.add-card-contant .btn-primary {
  background-color: white;
  margin: 12px;
}
.add-card-contant .btn-primary a {
  color: black;
}
.card-imgs {
   width: 100%;
  height: 100%;
  max-height: 300px;
  position: relative;
  aspect-ratio: 1/1;
}
.card-imgs img {
  width: 100%;
  height:100%;
  object-fit: contain;

}
.crad-img-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 300px;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;

}
.crad-img-2 img {
  width: 100%;
  height: 100%;
   object-fit: contain;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.card-imgs:hover .crad-img-2 img {
  opacity: 1;
}
/* add to card end */
/* clint-box-start */
.all-clint-box {
  flex-wrap: wrap;
}
.clint-box {
  padding: 100px 0px;
  position: relative;
}
.head-cone-1 {
  width: 300px;
  height: 130px;
  position: absolute;
  top: -70px;
  right: 70px;
  animation: headphone-1 4s infinite alternate ease;
}
@keyframes headphone-1 {
  0% {
    top: -80px;
  }
  100% {
    right: 200px;
  }
}
.row-box {
  padding: 0px 8px;
}
.clint-box-show {
  padding: 12px;
}

.box-2,
.box-1 {
  background-color: rgb(248, 248, 248);
  justify-content: center;
  max-width: 100%;
  height: 190px;
  padding: 26px 20px 20px;
  margin-bottom: 16px;
  border-radius: 20px;
}
.clint-box-contant {
  padding: 12px;
}
.clint-span {
  color: purple;
  font-size: 18px;
  padding: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.clint-h2 {
  font-size: 62px;
  font-weight: 800;
  padding: 20px 0px;
}
.clients-pera {
  color: #000;
  font-size: 16px;
  line-height: 2;
  padding: 10px 0px;
}
/* clint-box-end */
/* hover-card start */
.hover-card-sections {
  padding: 100px 0px;
  position: relative;
}
.effect-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.hover-card-sections .hover-card {
  position: relative;
}
.hover-card-sections .hover-card .hover-card-img {
  max-width: 100%;
  padding: 20px;
}
.hover-card-img {
  border: 3px solid black;
  width: 100%;
  height: 100%;
}
.hover-card-img img {
  max-width: 100%;
  height: 350px;
  object-fit: contain;
}
.hover-card-sections .hover-card .hover-card-contant {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  padding: 12px;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.hover-text {
  color: white;
  font-size: 30px;
  padding: 12px;
}
.hover-pera {
  color: rgba(255, 255, 255, 0.838);
  font-size: 16px;
  padding: 12px;
  line-height: 2;
}
.hover-card .btn-primary {
  width: fit-content;
  margin: 10px auto;
}
.hover-card-img:hover .hover-card-contant {
  opacity: 1;
}
.head-cone {
  width: 200px;
  height: 130px;
  position: absolute;
  top: -70px;
  left: 70px;
  animation: headphone 4s infinite alternate ease;
  z-index: 2;
}
@keyframes headphone {
  0% {
    top: -80px;
  }
  100% {
    left: 200px;
  }
}
/* hover-card end */

/* big-headphone start  */
.big-headphone {
  position: relative;
}
.big-headphone-img-2 {
  position: absolute;
  width: 200px;
  right: 30px;
  top: -70px;
  animation: headphone-3 4s infinite alternate ease;
}
@keyframes headphone-3 {
  0% {
    top: -80px;
  }
  100% {
    right: 200px;
  }
}
.big-headphone {
  padding: 100px 0px;
  background-color: #000;
}
.big-head-text {
  font-size: 40px;
  color: #5f9adf;
  margin-bottom: 10px;
}
.big-head-pera {
  font-size: 16px;
  color: white;
  line-height: 2;
  padding: 0px 10px;
}
.big-headphone ul li {
  color: white;
  padding: 10px 30px;
  font-size: 24px;
}
/* big-headphone end  */
/* slider start */
.sider-h2 {
  padding: 30px 0px;
  font-size: 42px;
}
.slider-sections {
  padding: 100px 0px;
  background-color: rgba(128, 0, 128, 0.63);
}
.slider-box {
  background: white;
  padding: 30px;
  border-radius: 30px;
  border: 5px solid rgb(255 255 255 / 20%);
  background-clip: padding-box;
  height: 100%;
  margin: 2px 0px;
}
.slider-svg-icone {
  color: rgba(128, 0, 128, 0.63);
  border: 3px solid rgba(128, 0, 128, 0.63);
  border-radius: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-svg-icone svg {
  width: 50px;
  height: 50px;
}
.slider-h3 {
  font-size: 26px;
  color: purple;
  padding: 10px 0px;
}
.slider-pera {
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 1.62;
  padding-bottom: 15px;
}
/* slider end */
/* - gird box start */
.grid-section {
  position: relative;
}
.grid-box-all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-box-all {
  /* position: absolute  ; */
  width: 100%;
  left: 0;
}
.grid-box-1 {
  grid-row: 1/5;
}
.grid-box-3 {
  grid-row: 1/5;
  grid-column-start: 3;
}
.grid-box {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid black;
  margin: 1px;
}
.gird-img {
  max-width: 200px;
  height: 200px;
}
.gird-img img {
  width: 100%;
  height: 100%;
}
.grid-box {
  position: relative;
}
.grid-img-contant {
  position: absolute;
  color: white;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.562);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.grid-img-contant svg {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 5px solid white;
  border-radius: 50px;
}
.grid-box:hover .grid-img-contant {
  opacity: 1;
}
/* - gird box end */
/* slick slider start */
  .slick-section{
    padding: 100px 0px;
  }
  .img-box-slick{
    margin: 10px;
    position: relative;
  }
  .slick-contant{
    position: absolute;
    bottom: 0;
    left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   text-shadow: 1px 5px 2px purple;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.678);
    color: white;
    transition:all 0.5s ease-in-out;
  }
  .img-box-slick:hover .slick-contant{
    height: 100%;
  }
  .slick-img{
    aspect-ratio: 1/1;
  }
  .slick-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slick-section .slick-box  .slick-prev{
    position: absolute;
    bottom: -50px;
    left: 120px;
    background-color: rgba(128, 0, 128, 0.699);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: transparent;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
  .slick-section .slick-box  .slick-next{
    position: absolute;
    bottom: -50px;
    left: 0;
    background-color: rgba(128, 0, 128, 0.699);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: transparent;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
  .slick-section .slick-box  .slick-arrow:hover{
    background: white;
    border: 1px solid black;
    color: black;
  }
  .slick-box-all{
    position: relative;
  }
/* slick slider end */